In [1]:
import pandas as pd
df = pd.read_csv("data/citibike-tripdata.csv", sep = ',')
display(df)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [11]:
display(df['gender'].value_counts().nlargest())

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [16]:
display(df['start station name'].value_counts().nsmallest())

Eastern Pkwy & Washington Ave     6
47 Ave & Skillman Ave             7
Railroad Ave & Kay Ave            9
Franklin Ave & Empire Blvd       11
NYCBS Depot - GOW                15
Name: start station name, dtype: int64

In [17]:
df = df.drop(['start station id', 'end station id'], axis = 1)
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

In [19]:
df['age'] = df['birth year'].apply(lambda x: 2018-x)
display(df['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [25]:
display(df[df['age']>60])

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
53,2018-09-01 00:04:20.9200,2018-09-01 00:11:21.6180,Grand Army Plaza & Central Park S,40.764397,-73.973715,Broadway & W 53 St,40.763441,-73.982681,24824,Subscriber,2,63
373,2018-09-01 00:25:47.6740,2018-09-01 00:39:31.7160,Mott St & Prince St,40.723180,-73.994800,Mott St & Prince St,40.723180,-73.994800,26083,Subscriber,2,68
405,2018-09-01 00:29:10.1630,2018-09-01 00:44:08.6110,Avenue D & E 3 St,40.720828,-73.977932,Avenue D & E 12 St,40.725806,-73.974225,33436,Subscriber,2,61
435,2018-09-01 00:31:21.7250,2018-09-01 00:41:57.9200,Broadway & W 56 St,40.765265,-73.981923,W 37 St & 10 Ave,40.756604,-73.997901,19894,Subscriber,2,63
457,2018-09-01 00:33:19.8080,2018-09-01 00:37:29.9270,Warren St & Court St,40.686371,-73.993833,Bond St & Bergen St,40.684967,-73.986208,34173,Subscriber,1,118
...,...,...,...,...,...,...,...,...,...,...,...,...
299882,2018-09-05 19:07:25.4010,2018-09-05 19:35:36.5000,Amsterdam Ave & W 66 St,40.774667,-73.984706,Cathedral Pkwy & Broadway,40.804213,-73.966991,16376,Subscriber,1,64
299883,2018-09-05 19:07:24.9130,2018-09-05 19:20:20.2760,W 4 St & 7 Ave S,40.734011,-74.002939,E 2 St & Avenue A,40.723077,-73.985836,29943,Subscriber,2,70
299946,2018-09-05 19:08:06.4620,2018-09-05 19:20:16.0180,Henry St & Grand St,40.714215,-73.981346,Lafayette St & E 8 St,40.730207,-73.991026,30951,Subscriber,1,71
299957,2018-09-05 19:08:12.5770,2018-09-05 19:42:24.0340,Market St & Cherry St,40.710762,-73.994004,Catherine St & Monroe St,40.711174,-73.996826,31453,Subscriber,1,76
299990,2018-09-05 19:08:26.2640,2018-09-05 19:44:53.7800,Columbus Ave & W 72 St,40.777057,-73.978985,Hudson St & Reade St,40.716250,-74.009106,26377,Subscriber,1,66

In [30]:
df['starttime'] = pd.to_datetime(df['starttime'], dayfirst=True)
df['stoptime'] = pd.to_datetime(df['stoptime'], dayfirst=True)
df['trip duration'] = df['stoptime']-df['starttime']
display(df['trip duration'].iloc[3])

Timedelta('0 days 00:07:16.837000')

In [32]:
df['weekend'] = df['starttime'].dt.day_of_week.apply(lambda x: 1 if x ==5 or x ==6 else 0)
display(df[df['weekend']==1])

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248507,2018-09-01 19:01:39.660,2018-09-01 19:09:34.516,Concord St & Bridge St,40.697666,-73.984764,Front St & Washington St,40.702551,-73.989402,27688,Subscriber,1,31,0 days 00:07:54.856000,1
248516,2018-09-01 21:53:55.244,2018-09-01 21:59:19.266,Concord St & Bridge St,40.697666,-73.984764,Front St & Washington St,40.702551,-73.989402,14909,Subscriber,1,32,0 days 00:05:24.022000,1
248520,2018-09-02 09:46:26.247,2018-09-02 09:51:56.662,Concord St & Bridge St,40.697666,-73.984764,Pearl St & Anchorage Pl,40.702819,-73.987658,25959,Subscriber,1,31,0 days 00:05:30.415000,1
248525,2018-09-02 09:55:13.467,2018-09-02 10:01:29.366,Concord St & Bridge St,40.697666,-73.984764,Cadman Plaza West & Montague St,40.693830,-73.990539,16371,Subscriber,1,32,0 days 00:06:15.899000,1
248549,2018-09-02 16:18:31.305,2018-09-02 16:36:00.042,Concord St & Bridge St,40.697666,-73.984764,4 Ave & 9 St,40.670513,-73.988766,21282,Subscriber,1,31,0 days 00:17:28.737000,1

In [36]:
def get_time(time):
    if time in range(0, 7): return 'night'
    if time in range(7, 13): return 'morning'
    if time in range(13, 19): return 'day'
    if time in range(19, 24): return 'evening'
df['time_of_day'] = df['starttime'].dt.hour.apply(get_time)
display(df[df['time_of_day']=='night'])

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248566,2018-09-03 06:53:57.358,2018-09-03 07:00:14.405,Concord St & Bridge St,40.697666,-73.984764,State St & Smith St,40.689269,-73.989129,30314,Subscriber,1,36,0 days 00:06:17.047000,0,night
248613,2018-09-04 06:31:57.529,2018-09-04 06:38:47.265,Concord St & Bridge St,40.697666,-73.984764,Fulton St & Rockwell Pl,40.688226,-73.979382,19439,Subscriber,1,35,0 days 00:06:49.736000,0,night
248618,2018-09-04 06:55:45.254,2018-09-04 07:17:26.319,Concord St & Bridge St,40.697666,-73.984764,Water - Whitehall Plaza,40.702551,-74.012723,27971,Subscriber,2,35,0 days 00:21:41.065000,0,night
248696,2018-09-05 06:34:40.080,2018-09-05 06:53:14.553,Concord St & Bridge St,40.697666,-73.984764,Maiden Ln & Pearl St,40.707065,-74.007319,27055,Subscriber,2,35,0 days 00:18:34.473000,0,night
248699,2018-09-05 06:47:02.806,2018-09-05 06:53:52.776,Concord St & Bridge St,40.697666,-73.984764,Pearl St & Anchorage Pl,40.702819,-73.987658,25404,Subscriber,2,36,0 days 00:06:49.970000,0,night