In [3]:
import pandas as pd
def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications
def get_percent(medications, name):
    summa = sum(medications)
    return medications[name]/summa*100
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [15]:
import pandas as pd
def create_companyDF(income, expenses, years):
    DataFrame = pd.DataFrame({"Income": income, "Expenses":expenses})
    DataFrame.index = years
    return DataFrame
def get_profit(df, year):
    sp = df.index
    if (year in sp):
        return df.loc[year, 'Income']-df.loc[year, 'Expenses']
    else: return None

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

382

In [21]:
student_data = pd.read_csv('data/students_performance.csv', sep = ',')
display(student_data.shape)
display(student_data.head())

(1000, 8)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [25]:
display(student_data.loc[155, 'writing score'])

88

In [ ]:
display(student_data.info())

In [31]:
display(student_data[student_data['test preparation course']=='completed']['reading score'].mean())

73.89385474860335

In [32]:
display(student_data[student_data['math score']==0].count())

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [36]:
display(student_data[student_data['lunch']=='standard']['math score'].mean())
display(student_data[student_data['lunch']=='free/reduced']['math score'].mean())

70.03410852713178

58.92112676056338

In [38]:
display(student_data[student_data['parental level of education']=="bachelor's degree"].count())

gender                         118
race/ethnicity                 118
parental level of education    118
lunch                          118
test preparation course        118
math score                     118
reading score                  118
writing score                  118
dtype: int64